/* .Nav {
  position: sticky;
  top: 0%;
  left: 0%;
  z-index: 10;
} */

.Navbar {
  display: flex;
  padding: 2rem 8rem;
  justify-content: flex-end;
  background-color: var(--dark-color);
  border-bottom: 2px solid var(--third-color);
}

.Navbar li {
  list-style: none;
  padding: 0 1.5rem;
}

.NavLink {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  border-bottom: 3px solid transparent;
}

.NavLink:hover {
  border-bottom: 3px solid #ccc;
  padding-bottom: 0.5rem;
  transition: border-bottom 0.5s;
}

.Logo {
  position: absolute;
  left: 10%;
  top: 2%;
  /* top: 20%; */
  height: 50px;
}

@media (max-width: 710px) {
  .Logo {
    display: none;
  }
  .Navbar {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .Navbar {
    padding: 2rem 4rem;
    justify-content: center;
  }
  .Navbar li {
    list-style: none;
    padding: 0 1rem;
  }
}
@media (max-width: 380px) {
  .Navbar li {
    list-style: none;
    padding: 0 0.7rem;
  }
  .NavLink {
    font-size: 16px;
  }
}
