.ProjectContainer {
  display: flex;
}

.ProjectPhoto {
  width: 60%;
  position: relative;
}
.ProjectImg {
  width: 90%;
  position: relative;
  left: 5%;
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.ProjectDiv {
  width: 100%;
  height: 600px;
  background-color: #f6f6f6;
  position: absolute;
  top: -10%;
  z-index: -1;
  border-radius: 6px;
}

.ProjectInfo {
  width: 40%;
  padding: 3rem;
}
.ProjectName {
  font-size: 53px;
}
.ProjectText {
  font-size: 1.6rem;
  color: var(--grey-color);
  margin-top: 24px;
  line-height: 1.6;
}
