@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffbc00;
  --secondary-color: #de1b4a;
  --third-color: #1bdeaf;
  --dark-color: #333;
  --light-color: #fff;
}

body {
  font-family: "Rubik", sans-serif;
}
