@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* Defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffbc00;
  --secondary-color: #de1b4a;
  --third-color: #18c79d;
  --dark-color: #191919;
  --dark-alt-color: #1e242c;
  --grey-color: #5e5e5e;
  --light-color: #fff;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

/* Utils */

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btnTransparent {
  display: inline-block;
  padding: 1.1rem 2.6rem;
  border: solid 3px var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  color: var(--light-color);
  font-size: 1.2rem;
  transition: all 0.3s;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  border-radius: 1000px;
}
.btnTransparent:hover {
  background-color: var(--primary-color);
}

.btnTransparentSecondary {
  display: inline-block;
  padding: 1.2rem 3rem;
  border: solid 3px var(--third-color);
  background-color: var(--third-color);
  cursor: pointer;
  color: var(--light-color);
  font-size: 1.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  transition: all 0.3s;
  outline: none;
  border-radius: 1000px;
}
.btnTransparentSecondary:hover {
  background-color: transparent;
  color: var(--dark-color);
  transform: scale(1.1) perspective(1px);
}

.btnProject {
  display: inline-block;
  padding: 1.2rem 3rem;
  border: solid 3px var(--primary-color);
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--dark-color);
  font-size: 1.4rem;
  transition: all 0.3s;
  outline: none;
  border-radius: 1000px;
}
.btnProject:hover {
  background-color: transparent;
  transform: scale(1.1) perspective(1px);
}

.bottomLine {
  height: 2px;
  width: 5rem;
  background: var(--primary-color);
  display: block;
  margin: 0 auto 1rem auto;
}
.bottomLineSecondary {
  height: 2px;
  width: 100%;
  background: lightgray;
  display: block;
  margin: 5rem auto 5rem auto;
}
.bottomLineAlt {
  height: 3px;
  width: 100%;
  background: lightgray;
  display: block;
  margin: 1rem auto 5rem auto;
}
