.HeaderContainer {
  height: 500px;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ContactHeader {
  font-size: 4rem;
  font-weight: 300;
  color: var(--light-color);
  padding-bottom: 1rem;
}
.ContactSubHeader {
  color: lightgray;
  font-size: 1.8rem;
  padding: 1rem;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}

.StatusContainer {
  background-color: #f4f4f4;
  outline: none;
  width: 55%;
  padding: 4rem 1rem 7rem 1rem;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-top: 6px solid var(--third-color);
}

.StatusHeader {
  font-size: 2.1rem;
}
.Status {
  font-size: 3.2rem;
  color: var(--third-color);
  padding: 0.9rem 0;
}
.StatusText {
  font-size: 1.6rem;
  padding-top: 0.4rem;
  color: var(--grey-color);
  font-family: "Rubik", sans-serif;
}
.StatusText span {
  font-weight: bold;
}

.FormInput,
.FormTextArea {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
  width: 55%;
  padding: 10px 15px;
  border: none;
  border: 1px solid #ccc;
  border-bottom: 2px solid var(--primary-color);
  background-color: #f4f4f4;
  outline: none;
  border-radius: 5px;
}

.FormInput {
  margin-bottom: 40px;
}
.FormTextArea {
  margin-bottom: 2rem;
  height: 200px;
}
