.ProjectContainer {
  display: flex;
  margin: 12rem 0;
}

.ProjectPhoto {
  width: 60%;
  position: relative;
}
.ProjectImg {
  width: 90%;
  position: relative;
  left: 5%;
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.ProjectDiv {
  width: 100%;
  height: 600px;
  background-color: #f6f6f6;
  position: absolute;
  top: -10%;
  z-index: -1;
  border-radius: 6px;
}

.ProjectInfo {
  width: 40%;
  padding: 3rem 0 1rem 4rem;
}
.ProjectName {
  font-size: 53px;
}

.versionUpdate {
  font-size: 22px;
  padding-top: 2rem;
  color: var(--third-color);
}

.ProjectText {
  font-size: 1.6rem;
  color: var(--grey-color);
  margin-top: 24px;
  line-height: 1.6;
}
.ProjectPoints {
  padding-top: 2rem;
}
.ProjectElements {
  list-style: none;
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  color: gray;
  font-weight: bold;
}
.ProjectIcon {
  margin-right: 1rem;
}

@media (max-width: 1360px) {
  .ProjectDiv {
    height: 70%;
  }
}
@media (max-width: 1265px) {
  .ProjectName {
    font-size: 40px;
  }
  .ProjectText {
    font-size: 1.3rem;
  }
  .ProjectPoints {
    padding-top: 2rem;
  }
  .ProjectElements {
    font-size: 1.3rem;
  }
}

@media (max-width: 1070px) {
  .ProjectContainer {
    display: block;
    margin-bottom: 6rem;
    margin-top: 10rem;
  }
  .ProjectInfo {
    width: 100%;
    padding: 3rem 0 1rem 4rem;
  }
  .ProjectPhoto {
    width: 90%;
    position: relative;
    margin: 0 auto 3rem auto;
  }
  .ProjectDiv {
    height: 90%;
  }
}
@media (max-width: 450px) {
  .ProjectPhoto {
    width: 90%;
  }
  .ProjectInfo {
    width: 100%;
    padding: 3rem 1rem 1rem 2rem;
  }
  .ProjectName {
    font-size: 35px;
  }
  .ProjectText {
    font-size: 1.2rem;
  }
  .ProjectElements {
    font-size: 1.2rem;
  }
}
@media (max-width: 350px) {
  .ProjectName {
    font-size: 32px;
  }
}
