.HeaderContainer {
  height: 500px;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  padding: 0 2rem;
}
.AboutHeader {
  font-size: 4rem;
  color: var(--light-color);
  padding-bottom: 1rem;
  font-weight: 300;
}
.AboutSubHeader {
  color: lightgray;
  font-size: 1.8rem;
  padding: 1rem;
}

.AboutBodyContainer {
  padding: 10% 20%;
}

.AboutBodyHeader {
  font-size: 2.8rem;
  color: var(--dark-color);
  margin-bottom: 1.5rem;
}
.AboutBodyP {
  padding: 0.5rem 0;
  color: var(--grey-color);
  font-size: 1.3rem;
  line-height: 1.6;
}
.AboutProject {
  color: var(--third-color);
}
.AboutProject:hover {
  text-decoration: underline;
  cursor: pointer;
}
.AboutImgContainer {
  width: 40%;
  height: 40%;
  margin: 0 auto;
  padding-top: 3rem;
}
.AboutImg {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
}

@media (max-width: 1024px) {
  .AboutImg {
    width: 100%;
  }
  .AboutImgContainer {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 800px) {
  .AboutImgContainer {
    width: 60%;
    height: 60%;
  }
  .AboutBodyContainer {
    padding: 10% 10%;
  }
}
@media (max-width: 450px) {
  .AboutImgContainer {
    width: 80%;
    height: 80%;
  }
  .AboutHeader {
    font-size: 3rem;
  }
  .AboutSubHeader {
    font-size: 1.4rem;
  }
}
